[submodule ".vim/plugged/coc.nvim"]
	path = .vim/plugged/coc.nvim
	url = /Users/dudujerry/.vim/plugged/coc.nvim
[submodule ".vim/plugged/vim-airline"]
	path = .vim/plugged/vim-airline
	url = /Users/dudujerry/.vim/plugged/vim-airline
[submodule ".vim/plugged/vim-polyglot"]
	path = .vim/plugged/vim-polyglot
	url = /Users/dudujerry/.vim/plugged/vim-polyglot
